<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Valid Login Suite">
    <test name="ValidLoginTest">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.HomeTests"/>
        </classes>
    </test>
</suite>